%h1 Admin
%ul.tabs
  %li= link_to "Manage Pages", "/admin/pages"
  %li= link_to "Manage Text", "/admin/text_blocks"
  %li= link_to "Manage Images", "/admin/basic_images"
  

#page_tree
  = render :partial => 'pages/tree'