%h1 Admin
%ul.tabs
  %li= link_to "Manage Pages", pages_path
  %li= link_to "Manage Text", text_blocks_path
  %li= link_to "Manage Images", basic_images_path
  

#page_tree
  = render :partial => 'pages/tree'