<% asset_tag_for text_block do %>
  <div class="rest_in_place" url="/text_blocks/<%= text_block.id %>" object="text_block" attribute="content" attribute_type="textarea"><%= markdown text_block.content %></div>
<% end %>
<%= asset_edit_link_for text_block %>