
<% semantic_form_for @page do |form| %>
  <%= form.input :parent, :label_method => :title %>
  <%= form.input :title %>
  
  <div id="page_advanced" class="optional">
    <%= form.inputs :file_name, :permalink %>
  </div>
  <%= form.buttons %>
<% end %>


