<%= admin_page_tree %>



<div id="log"></div>

<script>
Event.observe(window, 'load', function(){
  

  var tree = new SortableTree('tree', {
    droppable: {
      container: ':not(.file)'
    },
    onDrop: function(drag, drop, event){
      $('log').update($('log').innerHTML + "<p>" + drag.to_params() + "</p>")
      var params = drag.to_params('page')
      var serial = drop.element.up().select('li').pluck('id')
      // console.log(serial)
      serial.each(function(s){
      params = params + "page[page_ids][]=" + s + "&"  
      })
      
      // console.log(params)
      // params['authenticity_token'] = <%= form_authenticity_token() %>;
      new Ajax.Request('/pages/sort', {method: 'put', parameters: params});
    }
  });
  tree.setSortable();
  
  
});



  function log(line) {
    // $('log').update($('log').innerHTML + "<p>" + line + "</p>");
  }
  
  function toggle_folder(event) {
    var element = event.element().ancestors().first();
    if(element.hasClassName('closed')) {
      element.removeClassName('closed');
    } else {
      element.addClassName('closed');
    }
  }
  
  Event.observe(window, "load", function(){
    $$('.handle').each(function(element){
      Event.observe(element, 'click', toggle_folder);
    });
  });
  

</script>