<h1>Editing Text Block</h1>

<% form_for(@text_block) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @text_block %> |
<%= link_to 'Back', text_blocks_path %>
